<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <input type="text" placeholder="请输入数据" v-on:keyup.13="getData($event)"> -->
        <input type="text" placeholder="请输入数据" v-model.lazy="str">
        <p>{{ str }}</p>
        <select name="" id="" v-model="school">
            <option value="hd">黑大</option>
            <option value="林大">林大</option>
            <option value="工大">工大</option>
        </select>
        <p> {{school}} </p>
        1<input type="checkbox" name="" value="11" v-model="arr">
        2<input type="checkbox" name="" value="22" v-model="arr">
        3<input type="checkbox" name="" value="33" v-model="arr">
        4<input type="checkbox" name="" value="44" v-model="arr">
        <p>{{arr}}</p>
        男<input type="radio" name="sex" value="男" id="" v-model="sex">
        女<input type="radio" name="sex" value="女" id="" v-model="sex">
        <p> {{sex}}</p>
    </div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            str:"",
            school:"黑大",
            arr:[],
            sex:"",
        },
        methods:{
            // getData(e){
            //     console.log(e.target.value);
            //     this.str = e.target.value;
            // }
        },
    })
</script>
</html>